<div class="row my-5">
<div class= "col-12 col-md-4">
</div>
<div class= "col-12 col-md-4">
<h1>Lists</h1>
<% if notice %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
   <%= notice %>
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <% end %>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= list.name %></td> 
        <td><span class="badge badge-primary badge-pill"><%= list.tasks.size %></span></td>
        <td><%= link_to 'Show', list %></td>
        <td><%= link_to 'Edit', edit_list_path(list) %></td>
        <td><%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New List', new_list_path %>
</div>
<div class= "col-12 col-md-4">
</div>
</div>